.body6
{
	background:#808000;
}
#form_3
{
	font-family: 'Josefin Sans';
	font-size: 20px;
	margin-top:5px;
	margin-bottom:10px;
	padding-top:5px;
	padding-bottom:50px;
	color:#5FF;
	line-height:40px;
	padding-left:400px;
}
#adjust
{
	padding-left:500px;
	padding-bottom:50px;
}
#font_style
{
	font-family: 'Kaushan Script';
	font-size: 36px;
}